* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: $text-color;
  line-height: 1.5;
  background-color: $bg-blue-color;
}

.person__name {
  font-family: $font-family-serif;
}

.person__job {
  @extend %blue;
  font-family: $font-family-sans-serif;
}

.person__female {
  @extend %blue;
  font-size: $text-size-l;
}

.person--grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(100px, auto);

  @media (min-width: 576px) {
    grid-template-columns: 100%;
  }

  @media (min-width: 768px) {
    grid-template-columns: 35% 65%;
  }

  @media (min-width: 992px) {
    grid-template-columns: 30% 70%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 22% 78%;
  }

}

.person__information {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style-type: none;
  margin-left: 6px;
}

.person__information a {
  color: $text-blue-color;
  text-decoration: none;
}

.person__information a:hover {
  border-bottom: 1px solid $text-blue-color;
}

.person__picture {
  border-radius: 50%;
}

.section {
  padding-bottom: 1.5rem;
}

.section__time {
  color: $text-blue-color;
}

.section__title {
  color: $text-blue-color;
  padding-bottom: 1.5rem;
}

.section__list {
  list-style-type: none;
}

.section__list_unordered {
  padding-left: 1rem;
}

.section__item {
  padding-bottom: 1.5rem;
}

.header, .main, .footer {
  @extend %center-page;
  @extend %background-color;
  padding: 1rem;
}

.grey {
  color: $text-grey-color;
}

%blue {
  color: $text-blue-color;
}

%center-page {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(100px, auto);

  @media (min-width: 768px) {
    grid-template-columns: 30% 50%;
  }

  @media (min-width: 992px) {
    grid-template-columns: 30% 50%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 20% 50%;
  }
}

.grid--one {
  grid-column: 1;
  grid-row: 1;
}

.grid--two {
  grid-column: 2;
  grid-row: 1;
}

%background-color {
  background-color: $bg-light-color;
}

.footer {
  @extend %blue;
  text-align: center;
  font-size: $text-size-m;
}

.source {
  width: 100px;
  height: 100px;
  background-color: $bg-dark-color;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.source__text {
  transform: rotate(44deg);
  position: relative;
  left: 10px;
  top: 25px;
  text-align: right;
}

.source__icon {
  transform: rotate(44deg);
  position: absolute;
  right: 10px;
  top: 10px;
}
