<main class="main">
    <section class="section">
        <h2 class="section__title">About me</h2>
        <p>I am currently studying web development and looking for gaining experience, applying the acquired knowledge.</p>
    </section>

    <section class="section">
        <h2 class="section__title">Work Experience</h2>
        <ol class="section__list">
            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2019-02-19">02/2019 </time><span>–</span> <span>Present</span>
                    </p>
                    <h3 class="section__job">Freelancer · Barcelona, ES</h3>
                </div>
            </li>

            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2016-05-01">05/2016 </time><span>–</span> <time class="date" datetime="2019-02-18">02/2019 </time>
                    </p>
                    <h3 class="section__company">Commercial organizations · Ekaterinburg, RU</h3>
                    <h4 class="section__job">Legal Counsel</h4>
                </div>
            </li>

            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2012-11-15">11/2012 </time><span>–</span> <time class="date" datetime="2016-03-31">03/2016 </time>
                    </p>
                    <h3 class="section__company">Arbitration Court & Sverdlovsk Regional Court · Ekaterinburg, RU</h3>
                    <h4 class="section__job">Assistant Judge</h4>
                </div>
            </li>

            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2009-12-01">12/2009 </time><span>–</span> <time class="date" datetime="2012-11-14">11/2012 </time>
                    </p>
                    <h3 class="section__company">Arbitration Court & Sverdlovsk Regional Court · Ekaterinburg, RU</h3>
                    <h4 class="section__job">Court Clerk </h4>
                </div>
            </li>
        </ol>
    </section>

    <section class="section">
        <h2 class="section__title">Education</h2>
        <ol class="section__list">
            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2019-11-15">11/2019 </time><span>–</span> <span>Present</span>
                    </p>
                    <h3 class="section__degree">Master's degree in Web Site and Application Development</h3>
                    <p class="section__university">Universitat Oberta de Catalunya · Barcelona, ES</p>
                </div>
            </li>

            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2012-11-15">11/2012 </time><span>–</span> <time class="date" datetime="2014-06-18">06/2014 </time>
                    </p>
                    <h3 class="section__degree">Master's degree in law</h3>
                    <p class="section__university">Russian School of Private Law · Ekaterinburg, RU</p>
                </div>
            </li>

            <li class="section__item">
                <div>
                    <p class="section__time">
                        <time class="date" datetime="2004-11-15">11/2004 </time><span>–</span> <time class="date" datetime="2009-06-18">06/2009 </time>
                    </p>
                    <h3 class="section__degree">Master's degree, Institute of Prosecution</h3>
                    <p class="section__university">Ural State Law Academy · Ekaterinburg, RU</p>
                </div>
            </li>
        </ol>
    </section>

    <div class="grid">
        <div class="grid--one">
            <section class="section">
                <h2 class="section__title">Skills</h2>
                <ul class="section__list_unordered">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>UI Design</li>
                    <li>Git</li>
                </ul>
            </section>
        </div>

        <div class="grid--two">
            <section class="section">
                <h2 class="section__title">Languages</h2>
                <ul class="section__list_unordered">
                    <li>English (advanced)</li>
                    <li>Spanish (advanced)</li>
                    <li>Russian (native)</li>
                </ul>
            </section>
        </div>
    </div>

</main>
