<header class="header">
    <div class="person">
        <h1 class="person__name">Uliana Sudlenkova <span class="person__female">(She/her)</span></h1>
        <h2 class="person__job">Web Developer - Barcelona, Spain</h2>

        <div class="person--grid">
            <div>
                <ul class="person__information">
                    <li><i class="fa-solid fa-envelope"></i> ulyana14@uoc.com</li>
                    <li><i class="fa-solid fa-phone"></i> +34 123 45 67 89</li>
                    <li><i class="fa-brands fa-firefox"></i> <a href="">amazing-resume.com</a></li>
                    <li><i class="fa-brands fa-github"></i> <a href="https://github.com/uly081219">@uly081219</a></li>
                    <li><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/uliana-grau-lorenz-0a5a12128">uliana-grau-lorenz-0a5a12128</a></li>
                </ul>
            </div>

            <div>
                <img class="person__picture" src="./assets/images/ulyana.webp" width="125" alt="Avatar">
            </div>
        </div>

    </div>
</header>
